@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('../fonts/DejaVu Sans Mono/DejaVuSansMono.ttf') format('truetype');
}

@font-face {
    font-family: 'Droid Sans Mono';
    src: url('../fonts/Droid Sans Mono/DroidSansMono.ttf') format('truetype');
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('../fonts/Liberation Mono/LiberationMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('../fonts/Ubuntu Mono/UbuntuMono-R.ttf') format('truetype');
}

@font-face {
    font-family: 'Gee WP Handwriting';
    src: url('../fonts/Gee WP Handwriting/Gee_WP_Handwriting.ttf') format('truetype');
}    
        
* {
    font-family: 'Ubuntu Mono';
    box-sizing: border-box;
}

html, body { padding: 0; margin: 0; }

button {
    cursor: pointer;
    border: 1px solid black;
    background: white;
    line-height: 1.2em;
}

button:disabled, 
button:disabled:hover {
    border-color: grey;
    background-color: darkgray;
    color: lightgray;
}

#wrapper {
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 1em;
}

#wrapper > div {
    vertical-align: top;
}

#gameScreen {
    cursor: pointer;
    font-family: 'Ubuntu Mono', monospace;
    border: 1px solid black;
    
    width: auto;
    height: 100%;
    min-width: 5em;
    min-height: 5em;
    max-width: 100%;
    max-height: 100%;
    line-height: 1.0em;
    
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: left;
    overflow: hidden;
}

#progress {
    border: 1px solid black;
    
    width: 1em;
    height: 100%;
    max-height: 100%;
    
    margin: 0;
    padding: 0;
    
    position: relative;
    display: inline-block;
}

#progCursor {
    left: -1em;
    top: 0;
    margin-top: -50%;
    position: absolute;
}

#inventory,
#econList {
    border: 1px solid black;
    width: 30em;
    height: 100%;
    padding: 0;
    padding-top: 3em;
    
    display: inline-block;
    position: relative;
}

#econList {
    border: none;
    border-top: 1px solid black;
    width: 100%;
}

#money {
    height: 3em;
    line-height: 3em;

    margin-right: 2em;
    
    position: absolute;
    top: 0;
    right: 0;
}

#tooltip {
    background: #fff;
    border: 1px solid black;
    
    margin: 0;
    padding: 1em;
    
    top: 0;
    left: 0;
    position: absolute;
    display: none;
}

.content {
    text-align: left;
    width: 100%;
    max-height: 100%;    
    overflow-y: auto;
}

.content > div {
    padding: 1em;
    padding-top: none;
}

.content div {
    margin-bottom: 1em;
    overflow: auto;
    position: relative;
}

.content h3,
.content h4 {
    margin-top: 0em;
}

.content h4 {
    margin-bottom: 0em;
}

.content label {
    float: left;
}

.content label:nth-child(2) {
    width: 6em;
}

.content button {
    min-width: 5em;
    margin-left: .5em;
    padding: 0em 1em;
    float: right;
}

.tabs {
    border-bottom: 1px solid black;
    
    list-style: none;
    
    width: 100%;
    padding: 0;
    margin: 0;
    
    position: absolute;
    top: 0;
    left: 0;
}

.tabs li {
    cursor: pointer;
    border-right: 1px solid black;
    
    min-width: 6em;
    height: 3em;
    line-height: 3em;
    
    text-align: center;
    
    margin: 0;
    padding: 0em 1em;
    
    display: block;
    float: left;
}

.tabs li:hover, button:hover {
    border-color: grey;
    background-color: black;
    color: white;
}

.tabs li.selected {
    background-color: #666;
}